---
layout: default
title: Cloud Computing Conferences
---
{% assign conferences = site.data.conferences | sort: "name" %}

<h2>Next Deadlines:</h2>
{% assign deadlines = site.data.conferences | sort: "deadline" %}
{% assign num = 3 %}
{% for next in deadlines %}
{% assign d1 = next.deadline | date: "%Y/%m/%d" %}
{% assign d2 = 'now' | date: "%Y/%m/%d" %}
{% if d1 >= d2 %}
<div>
  <div class="time">
    <span class="count curr top" data-countdown="{{ next.deadline | date: "%Y/%m/%d" }}"></span>
    <span class="count curr bottom" data-countdown="{{ next.deadline | date: "%Y/%m/%d" }}"></span>
    <span class="label">days</span>
  </div>
  <a class="conference" href="#{{ next.abbrv }}">{{ next.name }} ({{ next.abbrv }})</a>
</div>
{% assign num = num | minus:1 %}
{% if num == 0 %}
  {% break %}
{% endif %}
{% endif %}
{% endfor %}

<h2>Conference List</h2>
<ul>
{% for conference in conferences %}
  <li><a href="#{{ conference.abbrv }}">{{ conference.name }} ({{ conference.abbrv }})</a></li>
{% endfor %}
</ul>

{% for conference in conferences %}
<h2 id="{{ conference.abbrv }}"><a href="{{ conference.url }}" target="_blank">{{ conference.name }} ({{ conference.abbrv }})</a></h2>
{{ conference.date_from | date_to_string }} - {{ conference.date_to | date_to_string }}, <em><a href="http://maps.google.com/?q={{ conference.location }}" target="_blank">{{ conference.location }}</a></em>
<h4>Reputation</h4>
<p>{% assign d = conference.edition %}
{% case d %}
  {% when "1" or "21" or "31" %}{{ d }}st
  {% when "2" or "22" %}{{ d }}nd
  {% when "3" or "23" %}{{ d }}rd
  {% else %}{{ d }}th
{% endcase %} edition
{% if conference.organization %}
, {{ conference.organization }} sponsored
{% endif %}</p>
<h4>Call for Papers</h4>
<p>Deadline:
  {% if conference.deadline %}
  {{ conference.deadline | date_to_string }} (<span data-countdown="{{ conference.deadline | date: "%Y/%m/%d" }}"></span> days)
  {% endif %}
</p>
<p>Page limit: {{ conference.page_limit }}</p>
{% unless forloop.last %}
<hr>
{% endunless %}
{% endfor %}

<script>
$(document).ready(function() {
  $('[data-countdown]').each(function() {
    var $this = $(this), finalDate = $(this).data('countdown');
    $this.countdown(finalDate, function(event) {
      $this.html(event.strftime('%-D'));
    });
  });
});
</script>
