---
layout: default
title: Cloud Computing Conferences
---
{% assign conferences = site.data.conferences | sort: "name" %}

<h2>Next Deadlines:</h2>
<div id="countdown"></div>

<h2>Conference List</h2>
<ul>
{% for conference in conferences %}
  <li><a href="#{{ conference.abbrv }}">{{ conference.name }} ({{ conference.abbrv }})</a></li>
{% endfor %}
</ul>

{% for conference in conferences %}
<h2 id="{{ conference.abbrv }}"><a href="{{ conference.url }}" target="_blank">{{ conference.name }} ({{ conference.abbrv }})</a></h2>
{{ conference.date_from | date_to_string }} - {{ conference.date_to | date_to_string }}, <em><a href="http://maps.google.com/?q={{ conference.location }}" target="_blank">{{ conference.location }}</a></em>
<h4>Reputation</h4>
<p>{% assign d = conference.edition %}
{% case d %}
  {% when "1" or "21" or "31" %}{{ d }}st
  {% when "2" or "22" %}{{ d }}nd
  {% when "3" or "23" %}{{ d }}rd
  {% else %}{{ d }}th
{% endcase %} edition
{% if conference.organization %}
, {{ conference.organization }} sponsored
{% endif %}</p>
<h4>Call for Papers</h4>
<p>Deadline:
  {% if conference.deadline %}
  {{ conference.deadline | date_to_string }} (<span data-countdown="{{ conference.deadline | date: "%Y/%m/%d" }}"></span> days)
  {% endif %}
</p>
<p>Page limit: {{ conference.page_limit }}</p>
{% unless forloop.last %}
<hr>
{% endunless %}
{% endfor %}

<script>
function createCountdown(element, index, array) {
  html = "<div>\
            <div class='time'>\
              <span class='count curr top' data-countdown='" + element.deadline + "'></span>\
              <span class='count curr bottom' data-countdown='" + element.deadline + "'></span>\
              <span class='label'>days</span>\
            </div>\
            <a class='conference' href='#" + element.abbrv + "'>" + element.name + "(" + element.abbrv + ")</a>\
           </div>"

  $('#countdown').append(html);
}

$(document).ready(function() {
  conferences = {{ site.data.conferences | sort: 'deadline' | jsonify }};
  conferences.forEach(createCountdown);
  
  $('[data-countdown]').each(function() {
    var $this = $(this), finalDate = $(this).data('countdown');
    $this.countdown(finalDate, function(event) {
      $this.html(event.strftime('%-D'));
    });
  });
  
});
</script>
